<!DOCTYPE html>
<html lang="en">
    {%load static%}

<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'styles/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <style>
    .user-details {
        display: inline-block;
        border-radius: 4px;
        background-color: #f16439;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        opacity: 0.6;
       
      }
      .user-details:hover {opacity: 1}
    </style>
  
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <header>
        <h1>Invoice</h1>
        <address contenteditable>
            <p>Advocate name</p>
            <p>Address#1<br>Address#2</p>
            <p>PHNO.</p>
        </address>
       
    </header>
    <article>
        <h1>Recipient</h1>
        <address contenteditable>
            <p>Client name</p>
            <p>Address#1<br>Address#2</p>
            <p>PHNO.</p>
        </address>
        <table class="meta">
            <tr>
                <th><span contenteditable>Invoice #</span></th>
                <td><span contenteditable>101138</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Date</span></th>
                <td><span contenteditable>January 1, 2012</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Due</span></th>
                <td><span id="prefix" contenteditable>Rs.</span><span>600.00</span></td>
            </tr>
        </table>
        
        <table class="inventory">
            <thead>
                <tr>
                    <th><span contenteditable>Service</span></th>
                    <th><span contenteditable>Description</span></th>
                    <th><span contenteditable>Rate Per Hour</span></th>
                    <th><span contenteditable>Hours</span></th>
                    <th><span contenteditable>Price</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
                    <td><span contenteditable>Experience Review</span></td>
                    <td><span data-prefix>Rs.</span><span contenteditable>150.00</span></td>
                    <td><span contenteditable>4</span></td>
                    <td><span data-prefix>Rs.</span><span>600.00</span></td>
                </tr>
            </tbody>
        </table>
 
        <a class="add">+</a>
        <table class="balance">
            <tr>
                <th><span contenteditable>Total</span></th>
                <td><span data-prefix>Rs.</span><span>600.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Paid</span></th>
                <td><span data-prefix>Rs.</span><span contenteditable>0.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Balance Due</span></th>
                <td><span data-prefix>Rs.</span><span>600.00</span></td>
            </tr>
        </table>
    </article>
    <aside>
        <h1><span >Additional Notes</span></h1>
        <div class="invoice-note">
            * Make all cheques payable to way2Cms<br>
            * Payment is due within 30 days<br>
            * A finance charge of 1.5% will be made on unpaid balances after 30 days<br>
            * If you have any questions concerning this invoice, contact  way2CMS@gmail.com
         </div>
         
    </aside>
    <br><br><br><br><br><br><br><br>
    <footer>
        <p class="text-center m-b-5 f-w-600">
            THANK YOU FOR YOUR BUSINESS
         </p>
         <br>
         <p class="text-center">
            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> way2Cms.com</span>
            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> way2CMS@gmail.com</span>
         </p>
    </footer>
    <br><br><br><br>
    <form id="form" method="POST">  
        {% csrf_token %}
        <button type="submit" id="data_btn">Submit</button><br><br>
        
        <!--button type="submit" id="done_btn" value=data1 >Submit</button-->

        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('form').submit(function(){
                    event.preventDefault();
                    var data1=""
                    var meta=""
                    var balance=""
                    for (var a = document.querySelectorAll('table.inventory tbody tr td'), i = 0; a[i]; ++i){
                data1+=a[i].textContent+",";
            }
            alert(data1)
            for (var a = document.querySelectorAll('table.meta tbody tr td'), i = 0; a[i]; ++i){
                meta+=a[i].textContent+",";
            }
           
            alert(meta)
            for (var a = document.querySelectorAll('table.balance tbody tr td'), i = 0; a[i]; ++i){
                balance+=a[i].textContent+",";
            }
           
            alert(balance)
                    $.ajax({
                        url: "{% url 'invoice_data' %}",
                        headers: {
    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
},
                        type: 'POST',
                        data: {
                            'data1[]':data1, 'meta[]':meta,'balance[]':balance
                        }
                        ,success: function(data){
                            console.log('Success!');
                        },
                        dataType:'json'
                    });
                    return false;
                });
            });
        </script>
<br><br>

</body>
</html>