<!DOCTYPE html>
<html>
<head>
  {% load static %} 

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'styles/style_login.css' %}">
<script src="https://use.fontawesome.com/a48ffc1c86.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
  #id_password{  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  

} 
</style>
</head>
<body style="background-color: white;">

  <div class="login" style="border-style: solid;
  color: black;
  border-width: thick; ">
    <h1>Login</h1>
  <form action="" method="POST">
    {%csrf_token%}
    <label><b>User Name     
    </b>    
    </label>    
    <input type="text" name="uname" id="username" placeholder="Enter username"><br><br>
    <label><b>Password    
    </b>    
    </label>     

    <input type="password" name="psw"  placeholder="Enter password" autocomplete="current-password" required=""
    id="id_password" ><i class="far fa-eye" id="togglePassword" style="margin-left: -40px; cursor: pointer;"></i>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
const password= document.querySelector('#id_password');

togglePassword.addEventListener('click', function (e) {
// toggle the type attribute
const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
password.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-eye-slash');
});
    </script>
    <br><br>
    <label for="usertype"><b>User Type</b></label><br>
    <input type="radio" id="client" name="usertype" value="client">
    <label for="client">Client</label> 
    <input type="radio" id="advocate" name="usertype" value="advocate">
    <label for="advocate">Advocate</label><br>
    
    <button type="submit" name="log" id="log" > Login</button><br><br>
    <input type="checkbox" id="check">    
    <span>Remember me</span>    
    <br><br>    
    <a class="btn btn-primary" href="#" role="button">Forget Password</a>  <br> 
    <p>Don't have an account?   Create one    ------><a href="/home/">here</a></p>
  <br>
  <script class="lazy" data-src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script class="lazy" data-src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script class="lazy" data-src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  {% for message in messages %}
  <br>
  <div class="container-fluid p-0" style="width:max-content;" >
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="text-align: center; background-color:lightgoldenrodyellow" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
  </div>

</form>


  <!--- <button style="width: 100%; padding: 10px 18px; background-color: black;" type="submit" id="loginbtn" >Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" id="cancelbtn" class="cancelbtn">Cancel</button>
    <script type="text/javascript">
              document.getElementById("cancelbtn").onclick=function(){
                location.href="/home/";
              };
    </script>
    <span class="psw"> <a href="#">Forgot password?</a></span>
  </div>
 
</form>-->


</body>
</html>