<!DOCTYPE html>{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pdf template</title>
    <link rel="stylesheet" href="{%static 'styles/pdf_template_style.css' %}" media="all" />
    <script src="https://use.fontawesome.com/a48ffc1c86.js"></script>
    
  </head>
  <body>
    <main class="invoice_div">
    <header class="clearfix">
      <div id="logo">
        <img src="{% static 'images/new_logo.PNG'%}" style="width: 200px; height:116px"> 
      </div>
      <div id="company">
        <h1 class="name">way2CMS</h1>
        <div>6328,Langar House,Hyderabad</div>
        <div>+91 XXXXX XXXXX</div>
        <div><i class="fa fa-fw fa-lg fa-envelope" style="color: black;"></i><a href="mailto:{{company.email}}">way2CMS@gmail.com</a></div>
        
      </div>
      </div>
    </header>
 
      <article>
        <h1>Recipient</h1>
        <br>
        <address contenteditable style="font-size: 16px;">
            <p id="cli_name" value={{user_cli.username}}>{{user_cli.first_name}} {{user_cli.last_name}}</p>
            <p>{{user_cli.address}}</p>
            <p>{{user_cli.phno}}</p>
        </address>
        <table class="meta">
            <tr>
                <th><span contenteditable>Invoice #</span></th>
                <td><span contenteditable>{{invoice_table.invoice_no}}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Date</span></th>
                
                <td><span contenteditable>{{invoice_table.date}}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Due Date</span></th>
                
                <td><span contenteditable>{{invoice_table.due_date}}</span></td>
            </tr>
        </table>
        
        <table class="inventory">
            <thead>
                <tr>
                    <th><span contenteditable>Service</span></th>
                    <th><span contenteditable>Description</span></th>
                    <th><span contenteditable>Rate Per Hour</span></th>
                    <th><span contenteditable>Hours</span></th>
                    <th><span contenteditable>Price</span></th>
                </tr>
            </thead>
            <tbody>
              {% for id in lineitem_table%}
                <tr>
                    <td><span contenteditable>{{id.service}}</span></td>
                    <td><span contenteditable>{{id.description}}</span></td>
                    <td><span data-prefix>Rs.</span><span contenteditable>{{id.rate}}</span></td>
                    <td><span contenteditable>{{id.noHours}}</span></td>
                    <td><span data-prefix>Rs.</span><span>{{id.price}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="balance">
            <tr>
                <th><span contenteditable>Total</span></th>
                <td><span data-prefix>Rs.</span><span>{{invoice_table.total_amount}}</span></td>
            </tr>
        </table>
    </article>
    <br><br><br>
    <aside>
        <h1 ><span >Additional Notes</span></h1>
        <div class="invoice-note">
            * Make all cheques payable to way2Cms<br>
            * Payment is due within 30 days<br>
            * A finance charge of 1.5% will be made on unpaid balances after 30 days<br>
            * If you have any questions concerning this invoice, contact  way2CMS@gmail.com
         </div>
    </aside>
<br><br><br><br><br>
    <footer >
        <p class="text-center m-b-5 f-w-600" >
            <span style="float:left; font-style: inherit; color:black">THANK YOU FOR YOUR BUSINESS</span>
         </p><br><br>
         <p class="text-center" >
            <span style="float:left; color: black;" class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> way2Cms.com</span>
         </p>
    </footer></main>
  </body>
</html>