
<html>

  <head> 
    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a48ffc1c86.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">way2CMS</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    {%csrf_token%}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/clientHome/"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hire Advocate</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Check Status</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i> My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="/logout/">Logout</a>
              
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method=POST action=
        "{% url 'search-sections' %}">
        {%csrf_token%}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searched" aria-label="Search">
          
          <button type="submit" href='/search/' id="search_btn" class="btn btn-outline-light btn-dark my-2 my-sm-0">Search</button>

          
        </form>
      </div>
    </nav>
  <style>
    #sectionsDetails {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
  width: 90%;
}

#sectionsDetails td, #sectionsDetails th {
  border: 1px solid #ddd;
  padding: 10px;
}

#sectionsDetails tr:nth-child(even){background-color: #f2f2f2;}

#sectionsDetails tr:hover {background-color: #ddd;}

#sectionsDetails th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left; 
  background-color:darkgrey;
  color: white;
}
  </style>
</head>
    <body>
    {% block content %}
<center>
    {% if sections %}
      <h1>You Searched For </h1>
      <br>
    <table id="sectionsDetails">
      <tr>
        <th>Serial No</th>
        <th>Section No</th>
        <th>Section Name</th>
        <th>Chapter No</th>
        <th>Description</th>
      </tr>
      {% for id in sections %}
        <tr>
          <td>{{id.serial_No}} </td>
          <td>{{id.section_No}} </td>
          <td>{{id.section_name}} </td>
          <td>{{id.chapter_No}} </td>
          <td>{{id.description}} </td>
        </tr>
      {% endfor%}
    {% else %}
    
      <h1>Hey! You Forgot To Search For A Venue...</h1>
    
    {% endif %}
    </table>
    
    </center>
    
    {% endblock %}
    
  </body>
</html>